<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<bean id="user1" class="com.poscoict.container.user.User1" />

	<!-- 기본 생성자로 빈 생성 -->
	<bean name="usr" id="user" class="com.poscoict.container.user.User" />
	
	<!-- 파라미터 1개인 생성자로 빈 생성 -->
	<bean id="user2" class="com.poscoict.container.user.User" >
		<constructor-arg value="name바꾸기"/>
	</bean>
	
	<!-- 파라미터 2개인 생성자로 빈 생성 - 순서대로-->
	<bean id="user3" class="com.poscoict.container.user.User" >
		<constructor-arg value="3"/>
		<constructor-arg value="파라미터2개_이름"/>
	</bean>
	
	<!-- 파라미터 2개인 생성자로 빈 생성 - index지정 -->
	<bean id="user4" class="com.poscoict.container.user.User" >
		<constructor-arg index="1" value="파라미터2개_이름"/>
		<constructor-arg index="0" value="3"/>
	</bean>
	
	<!-- setter 사용하기 -->
	<!-- 
		User u = new User();
		u.setNo(5);
		setter가 없으면 setting을 못 함
	 -->
	<bean id="user5" class="com.poscoict.container.user.User" >
		<property name = "no" value="5"/>
		<property name = "name" value="도우너"/>
	</bean>
	
	
	<!-- setter를 사용한 빈 가져오기2 (DI) -->
	<bean id="friend" class="com.poscoict.container.user.Friend" >
		<constructor-arg value="Di"/>
	</bean>
	
	<bean id="user6" class="com.poscoict.container.user.User" >
		<property name = "no" value="6"/>
		<property name = "name" value="영희"/>
		<property name = "friend" ref="friend"/>
	</bean>
	
	<!-- DI 하기 (Wiring)  -->
	<bean id="user6-1" class="com.poscoict.container.user.User" >
		<constructor-arg value="61"/>
		<constructor-arg value="생성자 주입_name"/>
		<constructor-arg ref="friend"/>
	</bean>
	
	<!-- setter를 사용한 List 세팅하기 -->
	<bean id="user7" class="com.poscoict.container.user.User" >
		<property name = "no" value="7"/>
		<property name = "name" value="아이언맨"/>
		<property name = "friends">
			<list>
				<value>스파이더맨</value>
				<value>캡틴</value>
				<value>초록</value>
			</list>
		</property>
	</bean>
</beans>